---

---

<main class="flex h-screen w-full flex-col items-center justify-center">
	<img src="/images/not-found.png" alt="page not found " class="object-contain" />
	<a href="/">
		<button
			class="rounded bg-primary-1 px-4 py-2 text-sm font-normal text-white transition-all duration-150 ease-in-out hover:bg-primary-1/75"
		>
			Go back home
		</button>
	</a>
</main>
