---
import Layout from "layouts/Layout.astro";
import TextFormat from "lib/helpers/TextFormat";
import Fade from "react-reveal/Fade";
import { url } from "lib/utils";

import HowCanWeHelpSection from "components/ContactSales";
---

<Layout title="Contact Us">
	<main class="flex w-full flex-col bg-primary-1">
		<section class="">
			<a
				href="/"
				class="container relative z-[1000] -ml-2 mt-8 flex w-fit max-w-[1700px] items-center px-container-base text-white lg:px-container-lg xl:px-container-xl"
			>
				<div class="flex items-center gap-2">
					<img src={url("/images/logo.svg")} alt="" class="w-24 object-contain lg:w-32" />
				</div>
				<p class="-mb-2 text-xl text-white">Animation studios</p>
			</a>
			<section class="py-16 md:pb-[8rem] md:pt-[5rem]">
				<HowCanWeHelpSection client:load />
			</section>
		</section>
	</main>
</Layout>
