---
import Layout from "layouts/Layout.astro";
import TextFormat from "lib/helpers/TextFormat";
import Fade from "react-reveal/Fade";
import { url } from "lib/utils";

import HowCanWeHelpSection from "components/ContactSales";
---

<Layout title="Contact The Studio | NOK Animation and Studios" darkNavBg>
	<main class="">
		<div
			class="relative h-[400px] w-full bg-cover bg-center bg-no-repeat md:h-[80vh]"
			style={{
				background: `#F8FAFC url(${url(
					"/images/contact/contact.png",
				)}) no-repeat fixed center / cover`,
			}}
		>
		</div>
		<section class="">
			<HowCanWeHelpSection client:load />
		</section>
	</main>
</Layout>
