---
import { Icon } from "astro-icon";
import NavDrop from "components/NavDrop";
import DpPlaceholder from "assets/dpPlaceholder.svg";
import Menu from "components/Menu";
import { url } from "lib/utils";

export interface Props {
	darkNavBg?: boolean;
}

export const prerender = true;

let { darkNavBg } = Astro.props;
console.log(darkNavBg);
---

<nav class="container max-w-[1700px] px-container-base lg:px-container-lg xl:px-container-xl">
	<div
		class="flex w-full items-center justify-between py-[1.2rem] md:py-[1.5rem] lg:border-b-secondary-1 xxl:py-8"
	>
		<div class={`flex w-full items-center gap-[1rem] ${darkNavBg ? "invisible" : "visible"}`}>
			<a href="/" class="flex w-fit max-w-[1700px] items-center text-white">
				<img src={url("/images/logo.svg")} alt="" class="-ml-6 w-24 object-cover lg:w-32" />

				<p class="-mb-3 text-xl text-white">Animation studios</p>
			</a>
		</div>

		<div class="flex">
			<Menu client:only />
		</div>
	</div>
</nav>
